<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <center><h1>Thank you for coming to our site!</h1>
     <h3>Please either log in below, or continue to check out this pretty page.</h3></center><hr>
    <form action="/woo" method="POST">
      <b>Username</b><br>
      <input type="text" name="username" value="user"><br>
      <b>Password</b><br>
      <input type="password" name="password" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
    <br>
    <b>See you on the other side!</b>
    <br><br><br><br>
    <hr>
    <h5><center>DISCLAIMER:**Ibnul and Dasha are not responsible for any sensitive information placed upon this site.**</center></h5>
  </body>
</html>
