<!DOCTYPE html>

<html>

<head>
  <title>Welcome!</title>
</head>
<body>
  <h1>Hello <i>{{ username }}</i>, thanks for stopping by!</h1>
  {% with messages = get_flashed_messages()%}
  {% if messages %}
  {% for message in messages %}
  {{message}}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <br>
  We're really glad you were able to make it here. For that, here's a <a href="static/meme.png">reward</a>. Please free to explore anything while still logged into your session.
  <br><br><br>
    <form action="/loggedout" method="GET">
      <input type="submit" value="Logout">
    </form> 
</body>
</html>
